*{
    margin: 0;
    padding: 3px;
   
}
.hd{
    height: 100vh;

}
.navbar-style{
    box-shadow: 0 5px 10px #efefef;
}
.logo{
    height: 65px;
    padding: 0px 10px;
}
.icon-bar{
    background: rgb(3, 180, 33);
}
li a{
    color: black;
}
.bt{
    font-size: 52px;
    margin: 20px 0;
    color: greenyellow;
}
a.btn{
margin: 30px 10px;
width: 150px;
padding: 10px;
border-radius: 20px;

}
a.btn-first{
background-color:rgb(2, 150, 64) ;
color: honeydew;
}
a.btn-second{
    background:transparent;
    border: 1px solid rgb(0, 161, 40);
    color: #333;

    }

a.btn:hover{
    background: rgb(0, 161, 40);
    border: none;
    color: white;
    box-shadow: 5px 5px 10px #999;
    transition: 0.3s;
}    
.hhdd{
    color: rgb(0, 161, 40) ;
}
