*{
    margin: 0;
    padding: 3px;
    box-sizing: border-box;
   
}
.hd{
    height: 100vh;

}
.navbar-style{
    box-shadow: 0 5px 10px #efefef;
}
.logo{
    height: 65px;
    padding: 0px 10px;
}
.icon-bar{
    background: rgb(0, 248, 62);
}
li a{
    color: black;
}
body{
    background: black;
}
.row{
    background-color:rgb(223, 223, 223);
    border-radius: 40px;
    box-shadow: 12px 12px 22px grey;
}
.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}
.btn1:hover{
    background-color: white;
    border: 1px solid;
    color: black;
}
